html {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    background-image: url("images\fondo.png");
    color: rgb(0, 0, 0);
}

h1 {
    color:rgb(255, 255, 255);
    font-size: 30px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.178);
    padding: 5px 0px 5px;
}

.rrss {
    width: 35px;
    margin:7px 0px 5px 0px;
}

.icono {
  width: 50px;
}

* {
  padding: 0px;
  margin: 0px;
}

header {
  margin: 0px;
  background-color: black;
}
ul {
    margin: 0px 0px;
}
.sec {
  color:rgb(255, 255, 255);
  font-size: 21px;
  margin: 50px 0px 10px 0px;
}

.nav li {
  background-color: rgb(20, 19, 20);
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 15px 5px 0px;
  margin: 0px;
  display: block;
}

.nav > li {
  float:left;
}

.nav ol {
  background-color: rgb(20, 19, 20);
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 80px 15px 3px;
  margin: auto;
  display: block;
}

footer {
  margin: 0px;
  background-color: black;
}

li a {
  color: white;
  text-decoration: none;
}

li a:hover {
  color: rgb(251, 255, 0);
  text-decoration: none;
}

.red {
  float: right;
}